<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="SampleAppSetup" Language="1033" Version="1.0.0.0" Manufacturer="SwinburneStudent" UpgradeCode="fd66e5a3-2b98-41ba-a234-cfce0e3c96fb">
		
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine"/>

		<MediaTemplate EmbedCab="yes"/>

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="SampleApp" />
			</Directory>
		</Directory>
		
		<DirectoryRef Id="INSTALLFOLDER">
			<Component Id="MainExecutable" Guid="b1c2d3e4-f5a6-7890-b1c2-d3e4f5a67890">
				<File Id="SampleAppEXE" Source="$(var.SampleApp.TargetPath)" KeyPath="yes" />
			</Component>
		</DirectoryRef>
		
		<Feature Id="ProductFeature" Title="SampleAppSetup" Level="1">
			<ComponentRef Id="MainExecutable" />
		</Feature>
		
	</Product>
</Wix>
